@model FacturaViewModel

<div class="accordion" id="accordionFactura">
    <div class="accordion-item">
        <h2 class="accordion-header">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseFactura" aria-expanded="true" aria-controls="collapseFactura">
                <h2>Detalle de factura</h2>
            </button>
        </h2>
        <div id="collapseFactura" class="accordion-collapse collapse show" data-bs-parent="#accordionFactura">
            <div class="accordion-body">
                <div class="row">
                    <div class="col-12">
                        <h5 id="fecha_pedido_@Model.Id" class="card-title">Fecha y hora del pedido: @Model.FechaPedido</h5>
                        @{
                            foreach (var item in Model.ItemsViewModel)
                            {
                                <div class="col-md-6 col-lg-4 p-2">


                                    <h5 id="nombre_@item.IdItem" class="card-title">Item: @item.Nombre</h5>
                                    <hr />
                                    <p id="precio_@item.IdItem" data-precio="@item.Precio">Precio unit: @item.Precio $</p>
                                    <hr />
                                    <p id="cantidad_@item.IdItem" data-precio="@item.Precio">Cantidad: @item.Cantidad</p>
                                    <hr />
                                    <p id="total_@item.IdItem" data-precio="@item.Precio">Total: @item.Total $</p>
                                </div>
                            }

                            <h5 id="precio_total_@Model.Id" class="card-title">Precio total del pedido: @Model.PrecioTotal $</h5>

                            <div class="col-12 mt-2" style="text-align: right;">
                                @if (@Model.Id == 0){
                                    <button id="btn_guardar" class="btn btn-primary" type="button" onclick="guardarFactura(@Model.IdPedido)">Facturar</button>
                                }
                                <a href="/Factura" class="btn btn-primary">Volver</a>
                            </div>

                        }
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script type="text/javascript">
    $(document).ready(function () {
     
    });

    function guardarFactura(idPedido) {
        Ajax('POST', '/Factura/Guardar', { idPedido: idPedido }, false, true, "Guardando...", guardarFacturaResponse);
    }

    function guardarFacturaResponse(idPedido) {
        $("#btn_guardar").remove();
        MsjAlertaExito('Aviso', 'Guardado correctamente.');
    }

</script>